
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color:rgb(230, 89, 112);
}


.container {
    text-align: center;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 10px;
}

input[type="number"], input[type="text"], button {
    padding: 8px 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-right: 10px;
}

button {
    background-color: #28df99;
    color: #fff;
    cursor: pointer;
}

button:hover {
    background-color: #09835a;
}

#password {
    width: 80%;
}

